/*default setup of html pages*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.cart {
  border: 2px solid black;
  border-radius: 10px;
  height: 500px;
  width: 1200px;
}

/*Home page cards*/
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 300px;
  height: 500px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-left:10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.card h2 {
  margin: 10px;
}

.card img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.card a {
  display: block;
  margin: 10px;
  color: #fff;
  background-color: #000;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}

/* Center the form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Style the form inputs */
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background-color: #f8f8f8;
}

/* Style the form button */
button {
  background-color: #060606;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #303030;
}

/* Style the page title */
h1 {
  text-align: center;
  font-size: 3rem;
  color: #333;
}

/* Style the popup button */
button.popup-button {
  background-color: #393939;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

button.popup-button:hover {
  background-color: #45a049;
}

/* Style the popup form */
.popup .popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

/* Style the popup inputs */
.popup input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background-color: #f8f8f8;
}

/* Style the popup button */
.popup button {
  background-color: #232323;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.popup button:hover {
  background-color: #45a049;
}

/*Single pages design*/
.product-details {
  display: flex;
  flex-wrap: wrap;
}

.product-info {
  flex: 1 1 60%;
}

.product-description {
  margin: 1rem 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

.product-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.back-button,
.delete-button,
.edit-button {
  color: white;
  background-color: #5c6bc0;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.delete-button {
  background-color: #e53935;
}

.edit-button {
  background-color: #43a047;
}

.back-button:hover,
.delete-button:hover,
.edit-button:hover {
  background-color: #3949ab;
}

.back-button:active,
.delete-button:active,
.edit-button:active {
  background-color: #1a237e;
}


/*Content pages designs*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: linear-gradient(to bottom, #354A5F, #4A6474, #657C8A, #8F9E9D);
}

.product-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 500px;
  border: 2px solid black;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

.product-image {
  width: 50%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
}

.product-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.product-details {
  padding: 20px;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-title {
  margin-top: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 2rem;
}

.product-title h3 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.product-price {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  height: 60px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}

.product-price h4 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.product-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.view {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 5px;
}

.view:hover {
  background-color: #0069d9;
}

/*NavBar design*/
.helloUser {
  font-size: 25px;
  margin-left: 50px;
}

.logo {
  color: black;
  font-size: 45px;
  line-height: 90px;
  padding: 0 20px;
  font-weight: bold;
}

nav {
  background-color: #9b9b9b;
  overflow: hidden;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav li {
  display: inline-block;
  line-height: 90px;
  margin: 0 5px;
}

nav li a {
  color: Black;
  font-size: 17px;
  text-transform: uppercase;
  padding: 20px 20px;
  border-radius: 3px;
}

nav li a:hover {
  background-color: #ddd;
  color: black;
}

a.active,a:hover {
  background: rgb(180, 178, 178);
  transition: .5s;
}

.checkbtn {
  font-size: 30px;
  color:black;
  float: right;
  line-height: 90px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
} 

@media screen and (max-width: 600px) {
  /*Home page*/
  .card-container {
    align-items: center;
    margin-left: 40px;
  }

  /*Single page responsive design*/
  .product-title {
    font-size: 20px;
  }

  .product-container {
    align-items: end;
  }

  .product-buttons {
    display: flex;
    flex-direction: column;
  }

  .product-price {
    font-size: 15px;
  }

  .product-description {
    font-size: 10px;
  }

  /*NavBar responsive design*/
  nav ul li {
    display: block;
    float: right;
  }

  nav ul li a {
      color: white;
      font-size: 20px;
  }

  .checkbtn {
      display: block;
  }

  ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 200vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  a:hover, a.active{
    background-color: rgb(200, 200, 200);
    color: #0082e6;
  }

  #check:checked ~ ul {
    left: 0;
  }
}